/* global elements */
html{-webkit-tap-highlight-color:rgba(0,0,0,0);padding:0px;margin:0px;border:0px;width:240px}
body, div{padding:0px;margin:0px;border:0px;font-family:sans-serif}

p{word-wrap:break-word;margin:0}
    


/* top-level elements*/
.body{float:left;min-width:240px;min-height:240px}



/* face elements */
.face-obj{position:absolute;text-align:center;border:1px solid black;padding:1px 3px 7px 5px}
.face-obj.letter{width:50px;height:50px;background:#500;font-size:36px;color:#eee}
.face-obj.word{background:#050;font-size:18px;color:#eee}
.face-obj.paragraph{background:#005;font-size:14px;color:#eee}

.inner-face-obj{padding:3px}
.inner-face-obj.letter{background:#910000}
.inner-face-obj.word{background:#009100}
.inner-face-obj.paragraph{background:#000091}



/* miniBuffer elements */
.mini-buffer-obj{position:absolute;text-align:center;border:1px solid black}
.mini-buffer-obj.letter{width:28px;height:28px}

.inner-mini-buffer-obj{}
.inner-mini-buffer-obj.letter{padding:6px}



/* marking classes */
.red{color:red}
.green{background:green}
.blue{background:blue}



/* top level */
.canvas{position:relative;clear:both;float:left;width:240px;height:240px;background:white}
.corner{position:absolute;width:30px;height:30px;background:blue}
.corner.bottom{background:lightBlue}
.corner p{text-align:center;margin:5px}
.mini-buffer{position:absolute;width:180px;height:30px;background:green;left:30px}
.top{top:0}
.bottom{bottom:0}
.left{left:0}
.right{right:0}
.face{position:relative;width:180px;height:180px;background:blue;top:30px;left:30px}
