/* global elements */
html{-webkit-tap-highlight-color:rgba(0,0,0,0);padding:0px;margin:0px;border:0px;width:240px}
body, div{padding:0px;margin:0px;border:0px;font-family:sans-serif}

p{word-wrap:break-word;margin:0}
    


/* top-level elements*/
.body{float:left;min-width:240px;min-height:240px}



/* face elements */
.face-obj.outer{position:absolute;text-align:center;border:1px solid black;padding:1px 3px 7px 5px}
.face-obj.outer.letter{width:50px;height:50px;background:#500;font-size:36px;color:#eee}
.face-obj.outer.word{width:80px;height:50px;background:#050;font-size:14px;color:#eee}
.face-obj.outer.paragraph{background:#005;font-size:14px;color:#eee}

.face-obj.inner{padding:3px}
.face-obj.inner.letter{background:#910000}
.face-obj.inner.word{background:#009100}
.obj.inner.paragraph{background:#000091}



/* buffer elements */
.buffer-obj.outer{position:absolute;text-align:center;border:1px solid black}
.buffer-obj.outer.letter{width:28px;height:28px}
.buffer-obj.outer.word{width:78px;height:28px;font-size:10px}
.buffer-obj.outer.selected{width:24px;height:24px;border:3px solid yellow}

.buffer-obj.inner{padding:6px}
.buffer-obj.inner.letter{width:16px;height:16px}
.buffer-obj.inner.word{width:66px;height:16px}
.buffer-obj.inner.inactive{background:white}
.buffer-obj.inner.selected{padding:3px;width:18px;height:18px}



/* toggles elements */
.toggle-obj.outer{position:absolute;text-align:center;border:1px solid black;width:78px;height:28px;font-size:14px}
.toggle-obj.outer.letter{left:0}
.toggle-obj.outer.word{left:80px}
.toggle-obj.outer.paragraph{right:0}
.toggle-obj.outer.selected{width:74px;height:24px;border:3px solid yellow}

.toggle-obj.inner{padding:6px}
.toggle-obj.inner.selected{padding:4px}



/* marking classes */
.red{color:red}
.green{background:green}
.blue{background:blue}



/* top level */
.top{top:0}
.bottom{bottom:0}
.left{left:0}
.right{right:0}

.canvas{position:relative;clear:both;float:left;width:240px;height:240px;background:white}


.subtract{position:absolute;width:14px;height:164px;top:30px;padding:8px;color:white;background:black}
.add{position:absolute;width:14px;height:164px;top:30px;padding:8px;color:white;background:black}

.face{position:relative;width:180px;height:180px;background:blue;top:30px;left:30px}
.buffer{position:absolute;width:240px;height:30px;background:green}
.toggle, .control{position:absolute;width:240px;height:30px;background:lightBlue}



input[type='range']{position:relative;top:5px;left:15px;width:200px;-webkit-appearance:none;padding-left:2px;padding-right:2px;-webkit-border-radius: 5px;  
    background-image: -webkit-linear-gradient(top, #000000, #333333, #000000)}
